button {
    width: 80px;
    height: 80px;
    background: none;
    border: 5px solid $blue;
    border-radius: 0 50% 0 50%;
    color: $text_color;
    font-size: 1.5em;
    transition: 0.5s;
    margin: 10px;
}

button:nth-of-type(even) {
    border-radius: 50% 0 50% 0;
}

button:hover {
    cursor: grab;
    background: $cover_color;
    color: $blue;
    transform: rotate(360deg);
}